# 依存パッケージ
/node_modules

# ビルド成果物
/dist

# 環境変数（APIキーなどはここに書く）
.env.local
.env.*.local

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# エディタ関連
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OSごとの不要ファイル
.DS_Store
Thumbs.db
